__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.venv/
.ruff_cache/
.ipynb_checkpoints/
.tmp/
.coverage
.coverage.*
coverage.xml
htmlcov/
build/
dist/
*.egg-info/
site/
*.zip
spec/.openapi-generator-output/
